<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sensor_d435_gazebo_config">

  <!-- Taken from real camera, official realsenselib for ros Noetic -->

  <!-- Resolve the effective camera parameters from either the user-provided
       intrinsics or the known intrinsics associated with the selected image
       resolution. -->
  <xacro:macro name="d435_gazebo_config" params="
                                            custom_intrinsic:=false

                                            clip_distance_min:=0.195

                                            depth_width:=848
                                            depth_height:=480
                                            depth_fps:=30
                                            depth_fx:=431.2745666503906
                                            depth_fy:=431.2745666503906
                                            depth_cx:=423.82025146484375
                                            depth_cy:=241.2349395751953

                                            infra_width:=640
                                            infra_height:=480
                                            infra_fps:=30
                                            infra_fx:=431.2745666503906
                                            infra_fy:=431.2745666503906
                                            infra_cx:=423.82025146484375
                                            infra_cy:=241.2349395751953
                                            infra2_tx:=-21.57023811340332

                                            color_width:=640
                                            color_height:=480
                                            color_fps:=30
                                            color_fx:=606.4806518554688
                                            color_fy:=606.4366455078125
                                            color_cx:=326.2506103515625
                                            color_cy:=254.5507049560547">

    <xacro:property name="resolved_clip_distance_min" value="${clip_distance_min}" scope="parent" />

    <xacro:property name="resolved_depth_width" value="${depth_width}" scope="parent" />
    <xacro:property name="resolved_depth_height" value="${depth_height}" scope="parent" />
    <xacro:property name="resolved_depth_fps" value="${depth_fps}" scope="parent" />
    <xacro:property name="resolved_depth_fx" value="${depth_fx}" scope="parent" />
    <xacro:property name="resolved_depth_fy" value="${depth_fy}" scope="parent" />
    <xacro:property name="resolved_depth_cx" value="${depth_cx}" scope="parent" />
    <xacro:property name="resolved_depth_cy" value="${depth_cy}" scope="parent" />

    <xacro:property name="resolved_infra_width" value="${infra_width}" scope="parent" />
    <xacro:property name="resolved_infra_height" value="${infra_height}" scope="parent" />
    <xacro:property name="resolved_infra_fps" value="${infra_fps}" scope="parent" />
    <xacro:property name="resolved_infra_fx" value="${infra_fx}" scope="parent" />
    <xacro:property name="resolved_infra_fy" value="${infra_fy}" scope="parent" />
    <xacro:property name="resolved_infra_cx" value="${infra_cx}" scope="parent" />
    <xacro:property name="resolved_infra_cy" value="${infra_cy}" scope="parent" />
    <xacro:property name="resolved_infra2_tx" value="${infra2_tx}" scope="parent" />

    <xacro:property name="resolved_color_width" value="${color_width}" scope="parent" />
    <xacro:property name="resolved_color_height" value="${color_height}" scope="parent" />
    <xacro:property name="resolved_color_fps" value="${color_fps}" scope="parent" />
    <xacro:property name="resolved_color_fx" value="${color_fx}" scope="parent" />
    <xacro:property name="resolved_color_fy" value="${color_fy}" scope="parent" />
    <xacro:property name="resolved_color_cx" value="${color_cx}" scope="parent" />
    <xacro:property name="resolved_color_cy" value="${color_cy}" scope="parent" />

    <xacro:unless value="${custom_intrinsic}">
      <xacro:property name="COLOR_RES" value="${str(color_width) + 'x' + str(color_height)}" />
      <xacro:property name="DEPTH_RES" value="${str(depth_width) + 'x' + str(depth_height)}" />
      <xacro:property name="INFRA_RES" value="${str(infra_width) + 'x' + str(infra_height)}" />


      <!-- COLOR INTRINSICS -->
      <xacro:if value="${COLOR_RES == '1920x1080'}">
        <xacro:property name="resolved_color_width" value="1920" scope="parent" />
        <xacro:property name="resolved_color_height" value="1080" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30-->
        <xacro:property name="resolved_color_fx" value="1364.58154296875" scope="parent" />
        <xacro:property name="resolved_color_fy" value="1364.4825439453125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="974.0638427734375" scope="parent" />
        <xacro:property name="resolved_color_cy" value="572.7390747070312" scope="parent" />
      </xacro:if>
      <xacro:if value="${COLOR_RES == '1280x720'}">
        <xacro:property name="resolved_color_width" value="1280" scope="parent" />
        <xacro:property name="resolved_color_height" value="720" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30-->
        <xacro:property name="resolved_color_fx" value="909.7210083007812" scope="parent" />
        <xacro:property name="resolved_color_fy" value="909.655029296875" scope="parent" />
        <xacro:property name="resolved_color_cx" value="649.3759155273438" scope="parent" />
        <xacro:property name="resolved_color_cy" value="381.8260498046875" scope="parent" />
      </xacro:if>
      <xacro:if value="${COLOR_RES == '640x480'}">
        <xacro:property name="resolved_color_width" value="640" scope="parent" />
        <xacro:property name="resolved_color_height" value="480" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30 60-->
        <xacro:property name="resolved_color_fx" value="606.4806518554688" scope="parent" />
        <xacro:property name="resolved_color_fy" value="606.4366455078125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="326.2506103515625" scope="parent" />
        <xacro:property name="resolved_color_cy" value="254.5507049560547" scope="parent" />
      </xacro:if>
      <xacro:if value="${COLOR_RES == '640x480'}">
        <xacro:property name="resolved_color_width" value="640" scope="parent" />
        <xacro:property name="resolved_color_height" value="480" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30 60-->
        <xacro:property name="resolved_color_fx" value="606.4806518554688" scope="parent" />
        <xacro:property name="resolved_color_fy" value="606.4366455078125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="326.2506103515625" scope="parent" />
        <xacro:property name="resolved_color_cy" value="254.5507049560547" scope="parent" />
      </xacro:if><xacro:if value="${COLOR_RES == '640x480'}">
        <xacro:property name="resolved_color_width" value="640" scope="parent" />
        <xacro:property name="resolved_color_height" value="480" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30 60-->
        <xacro:property name="resolved_color_fx" value="606.4806518554688" scope="parent" />
        <xacro:property name="resolved_color_fy" value="606.4366455078125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="326.2506103515625" scope="parent" />
        <xacro:property name="resolved_color_cy" value="254.5507049560547" scope="parent" />
      </xacro:if>
      <xacro:if value="${COLOR_RES == '640x480'}">
        <xacro:property name="resolved_color_width" value="640" scope="parent" />
        <xacro:property name="resolved_color_height" value="480" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30 60-->
        <xacro:property name="resolved_color_fx" value="606.4806518554688" scope="parent" />
        <xacro:property name="resolved_color_fy" value="606.4366455078125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="326.2506103515625" scope="parent" />
        <xacro:property name="resolved_color_cy" value="254.5507049560547" scope="parent" />
      </xacro:if>
      <xacro:if value="${COLOR_RES == '640x480'}">
        <xacro:property name="resolved_color_width" value="640" scope="parent" />
        <xacro:property name="resolved_color_height" value="480" scope="parent" />
        <xacro:property name="resolved_color_fps" value="30" scope="parent" /> <!--6 15 30 60-->
        <xacro:property name="resolved_color_fx" value="606.4806518554688" scope="parent" />
        <xacro:property name="resolved_color_fy" value="606.4366455078125" scope="parent" />
        <xacro:property name="resolved_color_cx" value="326.2506103515625" scope="parent" />
        <xacro:property name="resolved_color_cy" value="254.5507049560547" scope="parent" />
      </xacro:if>

      <!-- DEPTH INTRINSICS -->
      <xacro:if value="${DEPTH_RES == '1280x720'}">
        <xacro:property name="resolved_depth_width" value="1280" scope="parent" />
        <xacro:property name="resolved_depth_height" value="720" scope="parent" />
        <xacro:property name="resolved_depth_fps" value="30" scope="parent" />
        <xacro:property name="resolved_depth_fx" value="650.98046875" scope="parent" />
        <xacro:property name="resolved_depth_fy" value="650.98046875" scope="parent" />
        <xacro:property name="resolved_depth_cx" value="639.7286987304688" scope="parent" />
        <xacro:property name="resolved_depth_cy" value="361.9244384765625" scope="parent" />
        <xacro:property name="resolved_clip_distance_min" value="0.280" scope="parent" />
      </xacro:if>
      <xacro:if value="${DEPTH_RES == '848x480'}">
        <xacro:property name="resolved_depth_width" value="848" scope="parent" />
        <xacro:property name="resolved_depth_height" value="480" scope="parent" />
        <xacro:property name="resolved_depth_fps" value="30" scope="parent" />
        <xacro:property name="resolved_depth_fx" value="431.2745666503906" scope="parent" />
        <xacro:property name="resolved_depth_fy" value="431.2745666503906" scope="parent" />
        <xacro:property name="resolved_depth_cx" value="423.82025146484375" scope="parent" />
        <xacro:property name="resolved_depth_cy" value="241.2349395751953" scope="parent" />
        <xacro:property name="resolved_clip_distance_min" value="0.195" scope="parent" />
      </xacro:if>
      <xacro:if value="${DEPTH_RES == '640x480'}">
        <xacro:property name="resolved_depth_width" value="640" scope="parent" />
        <xacro:property name="resolved_depth_height" value="480" scope="parent" />
        <xacro:property name="resolved_depth_fps" value="30" scope="parent" />
        <xacro:property name="resolved_depth_fx" value="390.5882873535156" scope="parent" />
        <xacro:property name="resolved_depth_fy" value="390.5882873535156" scope="parent" />
        <xacro:property name="resolved_depth_cx" value="319.83721923828125" scope="parent" />
        <xacro:property name="resolved_depth_cy" value="241.14466857910156" scope="parent" />
        <xacro:property name="resolved_clip_distance_min" value="0.175" scope="parent" />
      </xacro:if>

      <!-- INFRARED INTRINSICS -->
      <xacro:if value="${INFRA_RES == '640x480'}">
        <xacro:property name="resolved_infra_width" value="640" scope="parent" />
        <xacro:property name="resolved_infra_height" value="480" scope="parent" />
        <xacro:property name="resolved_infra_fps" value="30" scope="parent" />
        <xacro:property name="resolved_infra_fx" value="431.2745666503906" scope="parent" />
        <xacro:property name="resolved_infra_fy" value="431.2745666503906" scope="parent" />
        <xacro:property name="resolved_infra_cx" value="423.82025146484375" scope="parent" />
        <xacro:property name="resolved_infra_cy" value="241.2349395751953" scope="parent" />
        <xacro:property name="resolved_infra2_tx" value="-21.57023811340332" scope="parent" />
      </xacro:if>
    </xacro:unless>
  </xacro:macro>
</robot>
