<?xml version="1.0"?>

<robot name="sensor_d435i" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="name" default="D435i_camera"/>
    <xacro:arg name="parent" default="base_link"/>

    <xacro:arg name="x" default="0"/>
    <xacro:arg name="y" default="0"/>
    <xacro:arg name="z" default="0"/>
    <xacro:arg name="roll" default="0"/>
    <xacro:arg name="pitch" default="0"/>
    <xacro:arg name="yaw" default="0"/>
    
    <xacro:arg name="align_depth" default="false"/>
    <xacro:arg name="custom_intrinsic" default="false"/>

    <xacro:arg name="use_nominal_extrinsics" default="false"/>
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:arg name="gazebo_urdf" default="false" />
    <xacro:arg name="enable_infrared" default="false"/>

	<xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435i.urdf.xacro"/>
	
 	<link name="$(arg parent)"/>
	<xacro:sensor_d435i parent="$(arg parent)" name="$(arg name)"
        use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)"
        use_mesh="$(arg use_mesh)" gazebo_urdf="$(arg gazebo_urdf)"
        enable_infrared="$(arg enable_infrared)" align_depth="$(arg align_depth)"
        custom_intrinsic="$(arg custom_intrinsic)">
		<origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
	</xacro:sensor_d435i>
	
	<gazebo>
    	<static>true</static>
	</gazebo>

</robot>
